<img src="https://image.freepik.com/free-vector/cute-cats-funny-cat-box-adorable-sleeping-kitty-fat-cat-sweater-illustration-set-domestic-animal-lifestyle-comic-pet-working-laptop-doing-yoga-listening-music-stickers_229548-5.jpg" class="rounded float-start" alt="...">
<img src="https://image.freepik.com/free-vector/cute-cats-cat-box-adorable-red-kitty-sleeping-fat-cat-fur-sweater-illustration-set-domestic-animal-lifestyle-comic-pet-glasses-working-laptop-drinking-cocktail-stickers_229548-44.jpg" class="rounded float-end" alt="...">
<br>
<br>
<br>
<br>
<br>
<h1> <i>Cat Cafe Welcome!<i></h1>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p> <h3> Make an appointment & join us!<b></h3> 
<p> <h3> Enjoy your favorite coffee in company of our rescue cats<b></h3>
<br>
<br>
 <%= link_to "Login", login_path %>
<br>
<br>
 <%= link_to "Signup", signup_path %>
