<h1> Welcome to the Cat Cafe</h1>
<h2><i> Make an appointment to join us and have your favorite coffee and snacks in company of our rescue cats! </i></h2>
<br>
<br>
 <%= link_to "Login", login_path %>
<br>
<br>
 <%= link_to "Signup", signup_path %>
