<img src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/other/cat_relaxing_on_patio_other/1800x1200_cat_relaxing_on_patio_other.jpg?resize=750px:*" class="img-thumbnail" alt="cat">
<h1> Welcome to the Cat Cafe</h1>
<h2><i> Make an appointment to join us and have your favorite coffee and snacks in company of our rescue cats! </i></h2>
<br>
<br>
 <%= link_to "Login", login_path %>
<br>
<br>
 <%= link_to "Signup", signup_path %>
