<p><h1> Your home page! </h1></p>

<p><h1> <%= @customer.username %></h1> </p>


<p><h3> <%= @customer.username%>'s <%= link_to "Appointments", customer_appointments_path(@customer.id) %>: <%= @customer_appointments.count %></h3></p>


