<% if @appointment.errors.any? %>
  <div id="error_explanation">
     <h2>Please review & try again:</h2>
     <ul>
   <% @appointment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
   <% end %>
    </ul>
    </div>
<% end %>