
<h1> <%=@appointment.customer.username%>'s appointment:</h1>
<br>
<br>
<h3> Date: 
<br>
=><%= @appointment.date.strftime("%B %e, %Y at %l:%M %p")%></h3> 
<br>
<br>
<h3> Your Coffee:
<br>
=> <%= @appointment.coffee %>
<br>
<br>
<h3> Furry friend: 
<br>
=> <%= link_to @appointment.cat.name, cat_path(@appointment.cat_id) %></h3>
<br>
<br>

